.theme-dark {
	--background-tertiary-border-l: calc(32% * (1 + var(--window-background-lightness)));
	--window-margin-px: calc(var(--window-margin) * 0.5px);
	--window-border-radius-calc: calc(min(1, var(--window-margin)) * var(--window-border-radius));
	--box-shadow-border: 0 0 0 1px var(--background-modifier-accent);
	--background-tertiary-border-color-a: hsla(var(--background-accent-hue), 4%, var(--background-tertiary-border-l), var(--window-opacity));
	--background-tertiary-border-variable-width-a: calc(var(--window-margin-px) * 0.01) solid var(--background-tertiary-border-color-a);
	--background-tertiary-border-variable-divider-a: 1px solid hsla(var(--background-accent-hue), 0%, calc(min(1, var(--window-margin)) * var(--background-tertiary-border-l)), var(--window-opacity));
	--background-modifier-selected: hsla(var(--background-accent-hue), var(--background-modifier-selected-s), var(--background-modifier-selected-l), var(--background-modifier-selected-a));
	--background-modifier-selected-s: 5%;
	--background-modifier-selected-l: 48%;
	--background-modifier-selected-a: 0.3;
	--border-rounded: rgba(255, 255, 255, 0.253);
}

:root {
	--border-rounded: rgba(255, 255, 255, 0.253);
	--background-accent-hue: 213;
	--window-opacity: 100%;
	--window-margin: 1;
	--window-background-lightness: 0;
	--dock-border-radius: 0;
        /* window */
	--window-background-image: initial;
	--window-background-image-position: center;
	--window-background-image-attachment: fixed;
	--window-margin: 4;
	--window-margin-left: 0;
	--window-border-radius: 12px;
}

/* panel */
[class^="sidebar_"] [class^="panels_"] {
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border: 1px solid var(--background-modifier-accent);
	border-radius: 20px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

.container_d667ff {
	border: 0px !important;
}

.panel_bd8c76.activityPanel__22355 {
	background-color: var(--background-floating-40a);
	border: none;
}
/* sidebar -folders */
.wrapper_a7e7a8 {
	background-color: transparent;
	justify-content: center;
}

.tree__7a511 {
	justify-content: start;
	align-self: flex-end;
	height: -moz-fit-content;
	height: fit-content;
	max-height: calc(75% - 48px);
}

#app-mount .scroller__3d071 {
	contain: unset;
	border-radius: calc(1.1rem * (1 + var(--dock-border-radius)));
	box-shadow: 0 0 3px rgba(119, 119, 119, 0.603);
	background-color: var(--background-modifier-selected);
	border-top: var(--background-modifier-accent-border);
	border-right: var(--background-modifier-accent-border);
	transform: scale(0.96)translateX(-1.7px);
}

#app-mount .childWrapper__01b9c,
#app-mount .circleIconButton_d8df29 {
	background-color: transparent;
}
/* */



#app-mount:not(:-webkit-full-screen) .layers__1c917.layers_a23c37 {
	margin-top: var(--window-margin-px);
	margin-bottom: var(--window-margin-px);
	margin-right: var(--window-margin-px);
	margin-left: calc(var(--window-margin-left) * 1px);
}

#app-mount:not(:-webkit-full-screen) .sidebar_ded4b5 {
	border-radius: 12px;
	margin-right: 3px;
	border-right: solid 1px var(--border-rounded);
	border-top: solid 1px var(--border-rounded);
	border-bottom: solid 1px var(--border-rounded);
}

#app-mount:not(:-webkit-full-screen) .chat__52833:not(.container__7590f) {
	border: var(--background-tertiary-border-variable-divider-a);
	border-radius: 10px;
}

.privateChannels__93473,
  #app-mount .scroller__4b984 {
	background-color: transparent;
}

#app-mount .container__5c7e7 {
	border-radius: var(--window-border-radius-calc);
	border-left: var(--background-tertiary-border-variable-divider-a);
	border-top: var(--background-tertiary-border-variable-width-a);
	border-bottom: var(--background-tertiary-border-variable-width-a);
	border-right: var(--background-tertiary-border-variable-width-a);
}

.theme-dark .container__590e2 {
	border-radius: 20px 20px 0 0;
}
/* settings rounded*/
.contentRegion__0bec1 {
	border-radius: var(--window-border-radius-calc);
	background: var(--background-tertiary-a);
	border-left: var(--background-tertiary-border-variable-divider-a);
	border-top: var(--background-tertiary-border-variable-width-a);
	border-bottom: var(--background-tertiary-border-variable-width-a);
	border-right: var(--background-tertiary-border-variable-divider-a);
	-webkit-backdrop-filter: blur(var(--window-blur-calc));
	backdrop-filter: blur(var(--window-blur-calc));
	margin-left: 10px;
}

.contentRegion__0bec1 {
	overflow: hidden;
}

.wrapper__7bcde.modeConnected__1c02e .icon_eff5d4 {
	color: rgb(153, 86, 187);
}

.link__95dc0 .icon_eff5d4 {
	width: 18px;
	height: 18px;
}

.member_b44d5d {
	background: transparent !important;
}

.container_b2ce9c {
	background: #2b2d318c !important;
	border-radius: 13px;
	border-left: 1px rgba(255, 255, 255, 0.13) solid;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
	background-color: var(--background-modifier-accent);
	box-shadow: var(--box-shadow-border);
}
/*


*/
.layer__2efaa,
.sidebarRegionScroller__1fa7e {
	background: transparent;
}

.standardSidebarView__1129a {
	border-radius: 15px;
}

.contentRegionScroller__86c79 {
	padding-top: 32px;
	overflow-y: overlay !important;
}

.contentColumnDefault_c66386 {
	padding-top: 0;
	padding-right: 0;
}

.contentColumn_dc7d36 > div:first-child > .sectionTitle_e32631,
.contentColumn_dc7d36 > div:not([class]):first-child > div:not([class]):first-child > .sectionTitle_e32631,
#profile-customization-tab h2,
#billing-tab > div:not([class]):first-child > div:not([class]):first-child h2,
#emoji-tab .sectionTitle_e32631,
#integrations-tab > .flex_f5fbb7:first-child,
#guild_templates-tab h2,
#vanity_url-tab h2.title__3e421 {
	position: sticky;
	display: flex;
	align-items: center;
	top: 0;
	width: 200%;
	padding: 16px;
	margin-left: -41px;
	z-index: 10;
	-webkit-app-region: drag;
	transform: translateY(-32px);
	background-color: var(--background-accent-a);
	box-shadow: var(--elevation-low-a);
}

.contentColumn_dc7d36 > div:first-child > .sectionTitle_e32631 h2,
.contentColumn_dc7d36 > div:not([class]):first-child > div:not([class]):first-child > .sectionTitle_e32631 h2,
#profile-customization-tab h2,
#billing-tab > div:not([class]):first-child > div:not([class]):first-child h2,
#emoji-tab .sectionTitle_e32631 h2,
#integrations-tab > .flex_f5fbb7:first-child h2,
#guild_templates-tab h2,
#vanity_url-tab h2.title__3e421 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 0;
}

#my-account-tab.contentColumn_dc7d36 > div:not([class]) > div:not(:first-child:not([class])) {
	border-radius: 14px;
	background-color: var(--background-secondary);
	border: var(--background-secondary-border);
	padding: 20px;
	width: 97%;
	margin-left: 13px !important;
}

#my-account-tab.contentColumn_dc7d36 > div:not([class]) > div:not(:first-child:not([class])):empty {
	display: none;
}
